[Desktop Entry]
Name=Physion
Exec=physion-wine
Type=Application
StartupNotify=true
Icon=BD0F_Physion.0
StartupWMClass=physion.exe
Categories=Education;Science;
