Package: physion-wine
Version: 1.01
Installed-Size: 13308
Maintainer: Crash and Eddie <crash.eddie123@gmail.com>
Section: science
Architecture: all
Priority: optional
Depends: wine-stable, wine32, p7zip
Description: Simulador Physion 1.01 via Wine.
 Physion é um divertido aplicativo, não exatamente um jogo, que oferece a você uma forma divertida de aprender como funciona a física. Você tem mais de 25 cenários predefinidos e você pode interagir com eles em diferentes formas para ver o que acontece.
